@import url('https://fonts.googleapis.com/css?family=Major+Mono+Display&display=swap');
:root{
    --primary-color: rgba(100%, 100%, 100%, 0.85);
    --overlay-color:rgb(24%, 58%, 58%, 0.9);
    --quote-color: rgb(24%, 58%, 58%, 0.50);
}
.banner{
    overflow: scroll;
    background-image: url("../../utils/images/BG.png");
    background-repeat: no-repeat;
    background-size: auto;
    background-position: bottom right;
    height: 100vh;
    width: 100%;
}
.s-line, .m-line{
    height: 4px;
    width: 30px;
    margin: 7px;
}
.s-line{
    background: #54B6B7
}
.m-line{
    background-color: #BB6275;
}
.burger{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    transition: all 0.4s;
}
.toggle{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    cursor: pointer;
    width: 30px;
    height: 30px;
    opacity: 0;
}

/* Animate Toggle */
 .toggle:checked + .burger{
     margin-top: 10px;
    transform: rotate(90deg);
 }
 .toggle:checked + .burger .s-line:nth-child(3){
     margin: 0px;
     bottom: 0;
     transform: rotate(45deg);
 }
 .toggle:checked + .burger .s-line:nth-child(1){
    display: none;

 }
 .toggle:checked + .burger .m-line{
    margin: 0px;
    transform: rotate(135deg);
}
.toggle:checked ~ .mainContent{
    display: none;
}

/* Animate Menu */
.toggle:checked ~ .menu {
    visibility: visible;
}
.toggle:checked ~ .menu .transition{
    transform: scale(1);
    transition-duration: 0.4s

}
.toggle:checked ~ .mainContent{
    z-index: -10;
}

/* Menu Overlay */
.menu{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    visibility: hidden;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}
.transition{
    background-color: var(--overlay-color);
    border-radius: 50%;
    width: 200vw;
    height: 200vw;
    display: flex;
    flex: none;
    align-items: center;
    justify-content: center;
    transform: scale(0); 
    transition: all 0.4s ease-in-out;
}

.navbar-nav .nav-item{
    list-style: none;
}

.navbar-nav .nav-item .navBTN{
    border-radius: 3px;
    background-color: #BB6275;
    color:  #54B6B7;
    font-family: 'Major Mono Display', monospace;
    font-size: 25px;
    font-weight: bolder;
    width: 33vh;
    margin: 1vw;
    transition: color 0.4s ease;
}

/* Main Content */
.mainContent {
    margin-top: -5%;
    /* margin-bottom: -5%; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 80vh;
    width: 40%;
    margin-left: 5%;
    background: var(--primary-color);
    /* margin-top: 10%; */
    /* margin-bottom: auto; */
    padding-top: 10%;
    padding-left: 10%;
}

@media screen and (max-width: 1083px){
    .mainContent {
        margin-left: auto;
        margin-right: auto;
        width: 80%;
        padding-left: 10%;
        padding-right: 10%;
        height: 100vh;
    }
}